---
const pageTitle = "About Me";

const identity = {
  firstName: "matty",
  country: "merica",
  occupation: "figter",
  hobbies: ["crochet", "fighting", "liftin"],
};

const skills = ["lifting heavy stone", "causing CTE", "fiber arts"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>{pageTitle}</h1>
    <h2>... and my astro site</h2>
    <p>I am doing the astro tutorial</p>
    <p>Here's some fax</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>
        I live in {identity.country} and i work as a {identity.occupation}
      </li>
    </ul>
    <p>my hobbies are:</p>
    <ul>{identity.hobbies.map((hobby) => <li>{hobby}</li>)}</ul>
    <p>My skills are:</p>
    <ul>{skills.map((skill) => <li>{skill}</li>)}</ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
  </body>
</html>
